<h1>Listing bills</h1>

<table>
  <tr>
    <th>Payee</th>
    <th>Account</th>
    <th>Number</th>
    <th>Next payment date</th>
    <th>Payment method</th>
    <th>Frequency</th>
    <th>Amount</th>
    <th>Category</th>
  </tr>

<% for bill in @bills %>
  <tr>
    <td><%=h bill.payee %></td>
    <td><%=h bill.account %></td>
    <td><%=h bill.number %></td>
    <td><%=h bill.next_payment_date %></td>
    <td><%=h bill.payment_method %></td>
    <td><%=h bill.frequency %></td>
    <td><%=h bill.amount %></td>
    <td><%=h bill.category %></td>
    <td><%= link_to 'Show', bill %></td>
    <td><%= link_to 'Edit', edit_bill_path(bill) %></td>
    <td><%= link_to 'Destroy', bill, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New bill', new_bill_path %>
