		<div id="primarycontent">
		
			<!-- primary content start -->
		
			<div class="post">
				<div class="header">
					<h3>Preview - Credit card debt</h3>
				</div>
				<div class="content">
					<p>Be welcome. <strong>cashbook</strong><sup>1.0</sup> is a personal financial application, helping anyone to manage (in a simple way) his money, from whom the must receive money and for whom he own money :)</p>
				</div>			
				<div class="footer">
					<ul>
						<li class="printerfriendly"><a href="#">Printer Friendly</a></li>
					</ul>
				</div>
			</div>
		
			<!-- primary content end -->
	
		</div>
		
		<div id="secondarycontent">

			<!-- secondary content start -->
			
			<h3>Reports</h3>
			<div class="content">
				<ul class="linklist">
					<li class="first"><%= link_to "Spending by category", { :action => "spending_by_category", :id => "1" } %></li>
					<li><%= link_to "Spending by payee", { :action => "spending_by_payee", :id => "1" } %></li>
					<li><%= link_to "Credit card debt", { :action => "credit_card_debt", :id => "1" } %></li>
					<li><%= link_to "Top five expense categories", { :action => "top_five_expense_categories", :id => "1" } %></li>
					<li><%= link_to "Pending transactions", { :action => "spending_transactions", :id => "1" } %></li>
				</ul>
			</div>

			<!-- secondary content end -->

		</div>		